<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/ACTIVIDAD6/src/AC6/AC6.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AC6.AC6"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="ACTIVIDAD6"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ACTIVIDAD6"/>
</launchConfiguration>
