body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: blue;
    color: white;
    margin: 0;
    padding: 20px;
    }
    h1 {
    color: #ff00f2;
    }
    button {
    background-color: #00ff4c;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    }
    button:hover {
    background-color: #b30000;
    }
    #mensaje {
    margin-top: 20px;
    font-size: 18px;
    }
    