header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Verdana;
    } 

body {
    background-image: url(https://images.pexels.com/photos/7634707/pexels-photo-7634707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
}
h3 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table {
    background-color: rgba(255, 255, 255, 0.4);
}
table th, table td {

    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}
.tabla-noticias {
    padding: 2rem;
    background: #ffffff;
}
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}
mark {
    background-color: azure;
}